lib-cov
*.seed
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

.idea
.idea/*
pids
tmp/*
test/tmplogs/*
test/storage/persistent/dir/*
test/storage/persistent/file/*
test/storage/persistent/line/*
npm-debug.log
node_modules
